.about{
    margin-top: 10vw;
    background-color: aliceblue;
    /* background-color: rgb(223, 244, 223); */
    text-align: center;
}

.about h2{
    padding: 3vw 0;
}

.about-section{
    margin: 4vw 6%;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 5vw;
}

.text{
    width: 50%;
}

.text p{
    margin: 0 6%;
    width: 80%;
    text-align: justify;
    margin: 1vw 0;
    line-height: 1.5;
}

.text h1{
    text-align: justify;
    opacity: .8;
}

.section img{
    width: 30vw;
}

@media screen and (max-width: 920px){
    .about h2{
        padding: 5vw 0;
    }
    .section{
        flex-direction: column;
        gap: 4vw;
    }

    .text{
        width: 80%;
    }

    .text h1{
        text-align: center;

    }

    .text p{
        width: 100%;
    }
    .section img{
        width: 40vw;
        margin-bottom: 6vw;
    }
}

@media screen and (max-width: 600px){
    .about h2{
        padding: 8vw 0;
    }

    .section{
        flex-direction: column;
        gap: 10vw;
        margin-bottom: 8vw;
    }

    .text{
        width: 100%;
    }

    .text h1{
        font-size: 25px;
        margin-bottom: 4vw;
    }
    .section img{
        width: 70vw;
        margin-bottom: 6vw;
    }
}