.contact-container{
    /* background: linear-gradient(#ffdad5, #fff7f9); */
    /* background: linear-gradient(rgb(255, 255, 255),rgb(165, 249, 148)); */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    /* border: none; */
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px  rgb(141, 145, 143);
}

.contact-right textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    border: 2px solid;
}

.contact-inputs:focus{
    border: 2px solid rgb(133, 254, 198);
}

.contact-inputs::placeholder{
    color: #a9a9a9
}

.contact-right button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #000000;
    gap: 10px;
    border: none;
    border-radius: 50px;
    /* background: linear-gradient(270deg,#ff994f,#fa6d86); */
    background: linear-gradient( rgb(102, 219, 164),rgb(184, 245, 197));
    cursor: pointer;
    margin: 20px auto 0;
    box-shadow:1px 1px 5px 0px rgb(129, 133, 131);
}

.contact-title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1vw;
    
}
.contact-right h2{
    opacity: .8;
   
}

.contact-right button img{
    height: 15px;
}


@media screen and (max-width: 800px) {
    .contact-inputs{
        width: 80vw;
    }
}